<!DOCTYPE html>
<html>
  <head>
    <title>VoiceLife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("VoiceLife",  posts_path) %>
        <% else %>
          <%= link_to("VoiceLife", "/") %>
        <% end %>    
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("投稿一覧", posts_path) %>
          </li>
          <li>
            <%= link_to("新規投稿", new_post_path) %>
          </li>
          <li>
            <%= link_to("ユーザー一覧", "/users/index") %>
          </li>
          <li>
            <%= form_tag "/logout", { method: :post } do %>
            <%= submit_tag 'ログアウト' %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to("VoiceLifeとは","/about") %>
          </li>
          <li>
            <%= link_to("新規登録","/signup") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>         
      </ul>
    </header>
    
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </dic>
    <% end %>    
    <%= yield %>
  </body>
</html>
